# wildcard patterns
*.[ao]
*.l[ao]
*~
Makefile
Makefile.in
.deps/
.libs/
.stamps/
.dirstamp
stamp-h?

# /
/aclocal.m4
/INSTALL
/autom4te.cache/
/config.h
/config.h.in
/config.log
/config.status
/configure
/configure.lineno
/gtkmm-*.tar.*
/libtool

# MSVC
MSVC_Net2005/atkmm/atkmm.rc
MSVC_Net2005/gdkmm/gdkmm.rc
MSVC_Net2005/gdkmm/gdkmmconfig.h
MSVC_Net2005/gtkmm/gtkmm.rc
MSVC_Net2005/gtkmm/gtkmmconfig.h
MSVC_Net2008/atkmm/atkmm.rc
MSVC_Net2008/gdkmm/gdkmm.rc
MSVC_Net2008/gdkmm/gdkmmconfig.h
MSVC_Net2008/gtkmm/gtkmm.rc
MSVC_Net2008/gtkmm/gtkmmconfig.h
MSVC_Net2010/gdkmm/gdkmm.rc
MSVC_Net2010/gdkmm/gdkmmconfig.h
MSVC_Net2010/gtkmm/gtkmm.rc
MSVC_Net2010/gtkmm/gtkmmconfig.h

# demos
demos/gtk-demo/gtkmm-demo
demos/pixbuf-demo

# docs
/docs/doc-install.pl
/docs/doc-postprocess.pl
/docs/doxygen.css
/docs/tagfile-to-devhelp2.xsl
/docs/reference/Doxyfile
/docs/reference/doxygen.log
/docs/reference/gtkmm-*.devhelp2
/docs/reference/gtkmm-*.tag
/docs/reference/html/

# gdk
gdk/gdkmm-*.pc
gdk/gdkmm/applaunchcontext.cc
gdk/gdkmm/applaunchcontext.h
gdk/gdkmm/color.cc
gdk/gdkmm/color.h
gdk/gdkmm/cursor.cc
gdk/gdkmm/cursor.h
gdk/gdkmm/device.cc
gdk/gdkmm/device.h
gdk/gdkmm/devicemanager.cc
gdk/gdkmm/devicemanager.h
gdk/gdkmm/display.cc
gdk/gdkmm/display.h
gdk/gdkmm/displaymanager.cc
gdk/gdkmm/displaymanager.h
gdk/gdkmm/dragcontext.cc
gdk/gdkmm/dragcontext.h
gdk/gdkmm/event.cc
gdk/gdkmm/event.h
gdk/gdkmm/pixbuf.cc
gdk/gdkmm/pixbuf.h
gdk/gdkmm/pixbufanimation.cc
gdk/gdkmm/pixbufanimation.h
gdk/gdkmm/pixbufanimationiter.cc
gdk/gdkmm/pixbufanimationiter.h
gdk/gdkmm/pixbufformat.cc
gdk/gdkmm/pixbufformat.h
gdk/gdkmm/pixbufloader.cc
gdk/gdkmm/pixbufloader.h
gdk/gdkmm/rectangle.cc
gdk/gdkmm/rectangle.h
gdk/gdkmm/rgba.cc
gdk/gdkmm/rgba.h
gdk/gdkmm/screen.cc
gdk/gdkmm/screen.h
gdk/gdkmm/timecoord.cc
gdk/gdkmm/timecoord.h
gdk/gdkmm/types.cc
gdk/gdkmm/types.h
gdk/gdkmm/visual.cc
gdk/gdkmm/visual.h
gdk/gdkmm/window.cc
gdk/gdkmm/window.h
gdk/gdkmm/wrap_init.cc
gdk/gdkmmconfig.h
gdk/stamp-h2

# gtk
gtk/gtkmm-*.pc
gtk/gtkmm/aboutdialog.cc
gtk/gtkmm/aboutdialog.h
gtk/gtkmm/accelgroup.cc
gtk/gtkmm/accelgroup.h
gtk/gtkmm/accellabel.cc
gtk/gtkmm/accellabel.h
gtk/gtkmm/action.cc
gtk/gtkmm/action.h
gtk/gtkmm/actionable.cc
gtk/gtkmm/actionable.h
gtk/gtkmm/actionbar.cc
gtk/gtkmm/actionbar.h
gtk/gtkmm/actiongroup.cc
gtk/gtkmm/actiongroup.h
gtk/gtkmm/activatable.cc
gtk/gtkmm/activatable.h
gtk/gtkmm/adjustment.cc
gtk/gtkmm/adjustment.h
gtk/gtkmm/alignment.cc
gtk/gtkmm/alignment.h
gtk/gtkmm/appchooser.cc
gtk/gtkmm/appchooser.h
gtk/gtkmm/appchooserbutton.cc
gtk/gtkmm/appchooserbutton.h
gtk/gtkmm/appchooserdialog.cc
gtk/gtkmm/appchooserdialog.h
gtk/gtkmm/appchooserwidget.cc
gtk/gtkmm/appchooserwidget.h
gtk/gtkmm/application.cc
gtk/gtkmm/application.h
gtk/gtkmm/applicationwindow.cc
gtk/gtkmm/applicationwindow.h
gtk/gtkmm/arrow.cc
gtk/gtkmm/arrow.h
gtk/gtkmm/aspectframe.cc
gtk/gtkmm/aspectframe.h
gtk/gtkmm/assistant.cc
gtk/gtkmm/assistant.h
gtk/gtkmm/bin.cc
gtk/gtkmm/bin.h
gtk/gtkmm/border.cc
gtk/gtkmm/border.h
gtk/gtkmm/box.cc
gtk/gtkmm/box.h
gtk/gtkmm/buildable.cc
gtk/gtkmm/buildable.h
gtk/gtkmm/builder.cc
gtk/gtkmm/builder.h
gtk/gtkmm/button.cc
gtk/gtkmm/button.h
gtk/gtkmm/buttonbox.cc
gtk/gtkmm/buttonbox.h
gtk/gtkmm/calendar.cc
gtk/gtkmm/calendar.h
gtk/gtkmm/cellarea.cc
gtk/gtkmm/cellarea.h
gtk/gtkmm/cellareabox.cc
gtk/gtkmm/cellareabox.h
gtk/gtkmm/cellareacontext.cc
gtk/gtkmm/cellareacontext.h
gtk/gtkmm/celleditable.cc
gtk/gtkmm/celleditable.h
gtk/gtkmm/celllayout.cc
gtk/gtkmm/celllayout.h
gtk/gtkmm/cellrenderer.cc
gtk/gtkmm/cellrenderer.h
gtk/gtkmm/cellrendereraccel.cc
gtk/gtkmm/cellrendereraccel.h
gtk/gtkmm/cellrenderercombo.cc
gtk/gtkmm/cellrenderercombo.h
gtk/gtkmm/cellrendererpixbuf.cc
gtk/gtkmm/cellrendererpixbuf.h
gtk/gtkmm/cellrendererprogress.cc
gtk/gtkmm/cellrendererprogress.h
gtk/gtkmm/cellrendererspin.cc
gtk/gtkmm/cellrendererspin.h
gtk/gtkmm/cellrendererspinner.cc
gtk/gtkmm/cellrendererspinner.h
gtk/gtkmm/cellrenderertext.cc
gtk/gtkmm/cellrenderertext.h
gtk/gtkmm/cellrenderertoggle.cc
gtk/gtkmm/cellrenderertoggle.h
gtk/gtkmm/cellview.cc
gtk/gtkmm/cellview.h
gtk/gtkmm/checkbutton.cc
gtk/gtkmm/checkbutton.h
gtk/gtkmm/checkmenuitem.cc
gtk/gtkmm/checkmenuitem.h
gtk/gtkmm/clipboard.cc
gtk/gtkmm/clipboard.h
gtk/gtkmm/colorbutton.cc
gtk/gtkmm/colorbutton.h
gtk/gtkmm/colorchooser.cc
gtk/gtkmm/colorchooser.h
gtk/gtkmm/colorchooserdialog.cc
gtk/gtkmm/colorchooserdialog.h
gtk/gtkmm/colorselection.cc
gtk/gtkmm/colorselection.h
gtk/gtkmm/combobox.cc
gtk/gtkmm/combobox.h
gtk/gtkmm/comboboxtext.cc
gtk/gtkmm/comboboxtext.h
gtk/gtkmm/container.cc
gtk/gtkmm/container.h
gtk/gtkmm/cssprovider.cc
gtk/gtkmm/cssprovider.h
gtk/gtkmm/dialog.cc
gtk/gtkmm/dialog.h
gtk/gtkmm/drawingarea.cc
gtk/gtkmm/drawingarea.h
gtk/gtkmm/editable.cc
gtk/gtkmm/editable.h
gtk/gtkmm/entry.cc
gtk/gtkmm/entry.h
gtk/gtkmm/entrybuffer.cc
gtk/gtkmm/entrybuffer.h
gtk/gtkmm/entrycompletion.cc
gtk/gtkmm/entrycompletion.h
gtk/gtkmm/enums.cc
gtk/gtkmm/enums.h
gtk/gtkmm/eventbox.cc
gtk/gtkmm/eventbox.h
gtk/gtkmm/eventcontroller.cc
gtk/gtkmm/eventcontroller.h
gtk/gtkmm/expander.cc
gtk/gtkmm/expander.h
gtk/gtkmm/filechooser.cc
gtk/gtkmm/filechooser.h
gtk/gtkmm/filechooserbutton.cc
gtk/gtkmm/filechooserbutton.h
gtk/gtkmm/filechooserdialog.cc
gtk/gtkmm/filechooserdialog.h
gtk/gtkmm/filechooserwidget.cc
gtk/gtkmm/filechooserwidget.h
gtk/gtkmm/filefilter.cc
gtk/gtkmm/filefilter.h
gtk/gtkmm/fixed.cc
gtk/gtkmm/fixed.h
gtk/gtkmm/flowbox.cc
gtk/gtkmm/flowbox.h
gtk/gtkmm/flowboxchild.cc
gtk/gtkmm/flowboxchild.h
gtk/gtkmm/fontbutton.cc
gtk/gtkmm/fontbutton.h
gtk/gtkmm/fontchooser.cc
gtk/gtkmm/fontchooser.h
gtk/gtkmm/fontchooserdialog.cc
gtk/gtkmm/fontchooserdialog.h
gtk/gtkmm/fontchooserwidget.cc
gtk/gtkmm/fontchooserwidget.h
gtk/gtkmm/fontselection.cc
gtk/gtkmm/fontselection.h
gtk/gtkmm/frame.cc
gtk/gtkmm/frame.h
gtk/gtkmm/gesture.cc
gtk/gtkmm/gesture.h
gtk/gtkmm/gesturedrag.cc
gtk/gtkmm/gesturedrag.h
gtk/gtkmm/gesturelongpress.cc
gtk/gtkmm/gesturelongpress.h
gtk/gtkmm/gesturemultipress.cc
gtk/gtkmm/gesturemultipress.h
gtk/gtkmm/gesturepan.cc
gtk/gtkmm/gesturepan.h
gtk/gtkmm/gesturerotate.cc
gtk/gtkmm/gesturerotate.h
gtk/gtkmm/gesturesingle.cc
gtk/gtkmm/gesturesingle.h
gtk/gtkmm/gestureswipe.cc
gtk/gtkmm/gestureswipe.h
gtk/gtkmm/gesturezoom.cc
gtk/gtkmm/gesturezoom.h
gtk/gtkmm/grid.cc
gtk/gtkmm/grid.h
gtk/gtkmm/handlebox.cc
gtk/gtkmm/handlebox.h
gtk/gtkmm/headerbar.cc
gtk/gtkmm/headerbar.h
gtk/gtkmm/hvbox.cc
gtk/gtkmm/hvbox.h
gtk/gtkmm/hvbuttonbox.cc
gtk/gtkmm/hvbuttonbox.h
gtk/gtkmm/hvpaned.cc
gtk/gtkmm/hvpaned.h
gtk/gtkmm/hvscale.cc
gtk/gtkmm/hvscale.h
gtk/gtkmm/hvscrollbar.cc
gtk/gtkmm/hvscrollbar.h
gtk/gtkmm/hvseparator.cc
gtk/gtkmm/hvseparator.h
gtk/gtkmm/iconfactory.cc
gtk/gtkmm/iconfactory.h
gtk/gtkmm/iconinfo.cc
gtk/gtkmm/iconinfo.h
gtk/gtkmm/iconset.cc
gtk/gtkmm/iconset.h
gtk/gtkmm/iconsource.cc
gtk/gtkmm/iconsource.h
gtk/gtkmm/icontheme.cc
gtk/gtkmm/icontheme.h
gtk/gtkmm/iconview.cc
gtk/gtkmm/iconview.h
gtk/gtkmm/image.cc
gtk/gtkmm/image.h
gtk/gtkmm/imagemenuitem.cc
gtk/gtkmm/imagemenuitem.h
gtk/gtkmm/infobar.cc
gtk/gtkmm/infobar.h
gtk/gtkmm/invisible.cc
gtk/gtkmm/invisible.h
gtk/gtkmm/label.cc
gtk/gtkmm/label.h
gtk/gtkmm/layout.cc
gtk/gtkmm/layout.h
gtk/gtkmm/levelbar.cc
gtk/gtkmm/levelbar.h
gtk/gtkmm/linkbutton.cc
gtk/gtkmm/linkbutton.h
gtk/gtkmm/listbox.cc
gtk/gtkmm/listbox.h
gtk/gtkmm/listboxrow.cc
gtk/gtkmm/listboxrow.h
gtk/gtkmm/liststore.cc
gtk/gtkmm/liststore.h
gtk/gtkmm/main.cc
gtk/gtkmm/main.h
gtk/gtkmm/menu.cc
gtk/gtkmm/menu.h
gtk/gtkmm/menubar.cc
gtk/gtkmm/menubar.h
gtk/gtkmm/menubutton.cc
gtk/gtkmm/menubutton.h
gtk/gtkmm/menuitem.cc
gtk/gtkmm/menuitem.h
gtk/gtkmm/menushell.cc
gtk/gtkmm/menushell.h
gtk/gtkmm/menutoolbutton.cc
gtk/gtkmm/menutoolbutton.h
gtk/gtkmm/messagedialog.cc
gtk/gtkmm/messagedialog.h
gtk/gtkmm/misc.cc
gtk/gtkmm/misc.h
gtk/gtkmm/notebook.cc
gtk/gtkmm/notebook.h
gtk/gtkmm/numerableicon.cc
gtk/gtkmm/numerableicon.h
gtk/gtkmm/offscreenwindow.cc
gtk/gtkmm/offscreenwindow.h
gtk/gtkmm/orientable.cc
gtk/gtkmm/orientable.h
gtk/gtkmm/overlay.cc
gtk/gtkmm/overlay.h
gtk/gtkmm/pagesetup.cc
gtk/gtkmm/pagesetup.h
gtk/gtkmm/pagesetupunixdialog.cc
gtk/gtkmm/pagesetupunixdialog.h
gtk/gtkmm/paned.cc
gtk/gtkmm/paned.h
gtk/gtkmm/papersize.cc
gtk/gtkmm/papersize.h
gtk/gtkmm/placessidebar.cc
gtk/gtkmm/placessidebar.h
gtk/gtkmm/plug.cc
gtk/gtkmm/plug.h
gtk/gtkmm/popover.cc
gtk/gtkmm/popover.h
gtk/gtkmm/printcontext.cc
gtk/gtkmm/printcontext.h
gtk/gtkmm/printer.cc
gtk/gtkmm/printer.h
gtk/gtkmm/printjob.cc
gtk/gtkmm/printjob.h
gtk/gtkmm/printoperation.cc
gtk/gtkmm/printoperation.h
gtk/gtkmm/printoperationpreview.cc
gtk/gtkmm/printoperationpreview.h
gtk/gtkmm/printsettings.cc
gtk/gtkmm/printsettings.h
gtk/gtkmm/printunixdialog.cc
gtk/gtkmm/printunixdialog.h
gtk/gtkmm/progressbar.cc
gtk/gtkmm/progressbar.h
gtk/gtkmm/radioaction.cc
gtk/gtkmm/radioaction.h
gtk/gtkmm/radiobutton.cc
gtk/gtkmm/radiobutton.h
gtk/gtkmm/radiomenuitem.cc
gtk/gtkmm/radiomenuitem.h
gtk/gtkmm/radiotoolbutton.cc
gtk/gtkmm/radiotoolbutton.h
gtk/gtkmm/range.cc
gtk/gtkmm/range.h
gtk/gtkmm/recentaction.cc
gtk/gtkmm/recentaction.h
gtk/gtkmm/recentchooser.cc
gtk/gtkmm/recentchooser.h
gtk/gtkmm/recentchooserdialog.cc
gtk/gtkmm/recentchooserdialog.h
gtk/gtkmm/recentchoosermenu.cc
gtk/gtkmm/recentchoosermenu.h
gtk/gtkmm/recentchooserwidget.cc
gtk/gtkmm/recentchooserwidget.h
gtk/gtkmm/recentfilter.cc
gtk/gtkmm/recentfilter.h
gtk/gtkmm/recentinfo.cc
gtk/gtkmm/recentinfo.h
gtk/gtkmm/recentmanager.cc
gtk/gtkmm/recentmanager.h
gtk/gtkmm/requisition.cc
gtk/gtkmm/requisition.h
gtk/gtkmm/revealer.cc
gtk/gtkmm/revealer.h
gtk/gtkmm/scale.cc
gtk/gtkmm/scale.h
gtk/gtkmm/scalebutton.cc
gtk/gtkmm/scalebutton.h
gtk/gtkmm/scrollable.cc
gtk/gtkmm/scrollable.h
gtk/gtkmm/scrollbar.cc
gtk/gtkmm/scrollbar.h
gtk/gtkmm/scrolledwindow.cc
gtk/gtkmm/scrolledwindow.h
gtk/gtkmm/searchbar.cc
gtk/gtkmm/searchbar.h
gtk/gtkmm/searchentry.cc
gtk/gtkmm/searchentry.h
gtk/gtkmm/selectiondata.cc
gtk/gtkmm/selectiondata.h
gtk/gtkmm/separator.cc
gtk/gtkmm/separator.h
gtk/gtkmm/separatormenuitem.cc
gtk/gtkmm/separatormenuitem.h
gtk/gtkmm/separatortoolitem.cc
gtk/gtkmm/separatortoolitem.h
gtk/gtkmm/settings.cc
gtk/gtkmm/settings.h
gtk/gtkmm/sizegroup.cc
gtk/gtkmm/sizegroup.h
gtk/gtkmm/socket.cc
gtk/gtkmm/socket.h
gtk/gtkmm/spinbutton.cc
gtk/gtkmm/spinbutton.h
gtk/gtkmm/spinner.cc
gtk/gtkmm/spinner.h
gtk/gtkmm/stack.cc
gtk/gtkmm/stack.h
gtk/gtkmm/stackswitcher.cc
gtk/gtkmm/stackswitcher.h
gtk/gtkmm/statusbar.cc
gtk/gtkmm/statusbar.h
gtk/gtkmm/statusicon.cc
gtk/gtkmm/statusicon.h
gtk/gtkmm/stockitem.cc
gtk/gtkmm/stockitem.h
gtk/gtkmm/stylecontext.cc
gtk/gtkmm/stylecontext.h
gtk/gtkmm/styleprovider.cc
gtk/gtkmm/styleprovider.h
gtk/gtkmm/switch.cc
gtk/gtkmm/switch.h
gtk/gtkmm/table.cc
gtk/gtkmm/table.h
gtk/gtkmm/targetlist.cc
gtk/gtkmm/targetlist.h
gtk/gtkmm/tearoffmenuitem.cc
gtk/gtkmm/tearoffmenuitem.h
gtk/gtkmm/textattributes.cc
gtk/gtkmm/textattributes.h
gtk/gtkmm/textbuffer.cc
gtk/gtkmm/textbuffer.h
gtk/gtkmm/textchildanchor.cc
gtk/gtkmm/textchildanchor.h
gtk/gtkmm/textiter.cc
gtk/gtkmm/textiter.h
gtk/gtkmm/textmark.cc
gtk/gtkmm/textmark.h
gtk/gtkmm/texttag.cc
gtk/gtkmm/texttag.h
gtk/gtkmm/texttagtable.cc
gtk/gtkmm/texttagtable.h
gtk/gtkmm/textview.cc
gtk/gtkmm/textview.h
gtk/gtkmm/toggleaction.cc
gtk/gtkmm/toggleaction.h
gtk/gtkmm/togglebutton.cc
gtk/gtkmm/togglebutton.h
gtk/gtkmm/toggletoolbutton.cc
gtk/gtkmm/toggletoolbutton.h
gtk/gtkmm/toolbar.cc
gtk/gtkmm/toolbar.h
gtk/gtkmm/toolbutton.cc
gtk/gtkmm/toolbutton.h
gtk/gtkmm/toolitem.cc
gtk/gtkmm/toolitem.h
gtk/gtkmm/toolitemgroup.cc
gtk/gtkmm/toolitemgroup.h
gtk/gtkmm/toolpalette.cc
gtk/gtkmm/toolpalette.h
gtk/gtkmm/toolshell.cc
gtk/gtkmm/toolshell.h
gtk/gtkmm/tooltip.cc
gtk/gtkmm/tooltip.h
gtk/gtkmm/treedragdest.cc
gtk/gtkmm/treedragdest.h
gtk/gtkmm/treedragsource.cc
gtk/gtkmm/treedragsource.h
gtk/gtkmm/treeiter.cc
gtk/gtkmm/treeiter.h
gtk/gtkmm/treemodel.cc
gtk/gtkmm/treemodel.h
gtk/gtkmm/treemodelfilter.cc
gtk/gtkmm/treemodelfilter.h
gtk/gtkmm/treemodelsort.cc
gtk/gtkmm/treemodelsort.h
gtk/gtkmm/treepath.cc
gtk/gtkmm/treepath.h
gtk/gtkmm/treerowreference.cc
gtk/gtkmm/treerowreference.h
gtk/gtkmm/treeselection.cc
gtk/gtkmm/treeselection.h
gtk/gtkmm/treesortable.cc
gtk/gtkmm/treesortable.h
gtk/gtkmm/treestore.cc
gtk/gtkmm/treestore.h
gtk/gtkmm/treeview.cc
gtk/gtkmm/treeview.h
gtk/gtkmm/treeviewcolumn.cc
gtk/gtkmm/treeviewcolumn.h
gtk/gtkmm/uimanager.cc
gtk/gtkmm/uimanager.h
gtk/gtkmm/viewport.cc
gtk/gtkmm/viewport.h
gtk/gtkmm/volumebutton.cc
gtk/gtkmm/volumebutton.h
gtk/gtkmm/widget.cc
gtk/gtkmm/widget.h
gtk/gtkmm/widgetpath.cc
gtk/gtkmm/widgetpath.h
gtk/gtkmm/window.cc
gtk/gtkmm/window.h
gtk/gtkmm/wrap_init.cc
gtk/gtkmmconfig.h
gtk/stamp-h3

# tests
/tests/*/test
/tests/*.log
/tests/*.trs

# tools
tools/extra_defs_gen/generate_defs_gdk
tools/extra_defs_gen/generate_defs_gtk

# win32_installer
win32_installer/gtkmm-installer.nsi
win32_installer/lgpl.txt
