
# wildcard patterns
*.[ao]
*.l[ao]
*~
Makefile
Makefile.in
.deps/
.libs/
.stamps/
.dirstamp
stamp-h?

# /
/aclocal.m4
/INSTALL
/autom4te.cache/
/config.h
/config.h.in
/config.log
/config.status
/configure
/configure.lineno
/gtkmm-*.tar.*
/libtool

# MSVC
MSVC_NMake/gdkmm/gdkmmconfig.h
MSVC_NMake/gskmm/gskmmconfig.h
MSVC_NMake/gtkmm/gtkmm.rc
MSVC_NMake/gtkmm/gtkmmconfig.h
MSVC_NMake/pkg-ver.mak

# demos
demos/gtk-demo/demo_resources.c
demos/gtk-demo/gtkmm-demo
demos/pixbuf-demo

# docs
/docs/doc-install.pl
/docs/doc-postprocess.pl
/docs/doxygen.css
/docs/doxygen-extra.css
/docs/tagfile-to-devhelp2.xsl
/docs/reference/Doxyfile
/docs/reference/doxygen.log
/docs/reference/gtkmm-*.devhelp2
/docs/reference/gtkmm-*.tag
/docs/reference/html/

# gdk
gdk/gdkmm-*.pc
gdk/gdkmm/applaunchcontext.cc
gdk/gdkmm/applaunchcontext.h
gdk/gdkmm/cairocontext.cc
gdk/gdkmm/cairocontext.h
gdk/gdkmm/clipboard.cc
gdk/gdkmm/clipboard.h
gdk/gdkmm/contentformats.cc
gdk/gdkmm/contentformats.h
gdk/gdkmm/contentformatsbuilder.cc
gdk/gdkmm/contentformatsbuilder.h
gdk/gdkmm/contentprovider.cc
gdk/gdkmm/contentprovider.h
gdk/gdkmm/cursor.cc
gdk/gdkmm/cursor.h
gdk/gdkmm/device.cc
gdk/gdkmm/device.h
gdk/gdkmm/devicepad.cc
gdk/gdkmm/devicepad.h
gdk/gdkmm/devicetool.cc
gdk/gdkmm/devicetool.h
gdk/gdkmm/display.cc
gdk/gdkmm/display.h
gdk/gdkmm/displaymanager.cc
gdk/gdkmm/displaymanager.h
gdk/gdkmm/drag.cc
gdk/gdkmm/drag.h
gdk/gdkmm/dragsurface.cc
gdk/gdkmm/dragsurface.h
gdk/gdkmm/drawcontext.cc
gdk/gdkmm/drawcontext.h
gdk/gdkmm/drop.cc
gdk/gdkmm/drop.h
gdk/gdkmm/enums.cc
gdk/gdkmm/enums.h
gdk/gdkmm/event.cc
gdk/gdkmm/event.h
gdk/gdkmm/frameclock.cc
gdk/gdkmm/frameclock.h
gdk/gdkmm/frametimings.cc
gdk/gdkmm/frametimings.h
gdk/gdkmm/glcontext.cc
gdk/gdkmm/glcontext.h
gdk/gdkmm/gltexture.cc
gdk/gdkmm/gltexture.h
gdk/gdkmm/memorytexture.cc
gdk/gdkmm/memorytexture.h
gdk/gdkmm/monitor.cc
gdk/gdkmm/monitor.h
gdk/gdkmm/paintable.cc
gdk/gdkmm/paintable.h
gdk/gdkmm/pixbuf.cc
gdk/gdkmm/pixbuf.h
gdk/gdkmm/pixbufanimation.cc
gdk/gdkmm/pixbufanimation.h
gdk/gdkmm/pixbufanimationiter.cc
gdk/gdkmm/pixbufanimationiter.h
gdk/gdkmm/pixbufformat.cc
gdk/gdkmm/pixbufformat.h
gdk/gdkmm/pixbufloader.cc
gdk/gdkmm/pixbufloader.h
gdk/gdkmm/popup.cc
gdk/gdkmm/popup.h
gdk/gdkmm/popuplayout.cc
gdk/gdkmm/popuplayout.h
gdk/gdkmm/rectangle.cc
gdk/gdkmm/rectangle.h
gdk/gdkmm/rgba.cc
gdk/gdkmm/rgba.h
gdk/gdkmm/seat.cc
gdk/gdkmm/seat.h
gdk/gdkmm/snapshot.cc
gdk/gdkmm/snapshot.h
gdk/gdkmm/surface.cc
gdk/gdkmm/surface.h
gdk/gdkmm/texture.cc
gdk/gdkmm/texture.h
gdk/gdkmm/timecoord.cc
gdk/gdkmm/timecoord.h
gdk/gdkmm/toplevel.cc
gdk/gdkmm/toplevel.h
gdk/gdkmm/toplevellayout.cc
gdk/gdkmm/toplevellayout.h
gdk/gdkmm/toplevelsize.cc
gdk/gdkmm/toplevelsize.h
gdk/gdkmm/wrap_init.cc
gdk/gdkmmconfig.h
gdk/stamp-h2

# gtk
gtk/gtkmm-*.pc
gtk/gtkmm/aboutdialog.cc
gtk/gtkmm/aboutdialog.h
gtk/gtkmm/accessible.cc
gtk/gtkmm/accessible.h
gtk/gtkmm/actionable.cc
gtk/gtkmm/actionable.h
gtk/gtkmm/actionbar.cc
gtk/gtkmm/actionbar.h
gtk/gtkmm/adjustment.cc
gtk/gtkmm/adjustment.h
gtk/gtkmm/appchooser.cc
gtk/gtkmm/appchooser.h
gtk/gtkmm/appchooserbutton.cc
gtk/gtkmm/appchooserbutton.h
gtk/gtkmm/appchooserdialog.cc
gtk/gtkmm/appchooserdialog.h
gtk/gtkmm/appchooserwidget.cc
gtk/gtkmm/appchooserwidget.h
gtk/gtkmm/application.cc
gtk/gtkmm/application.h
gtk/gtkmm/applicationwindow.cc
gtk/gtkmm/applicationwindow.h
gtk/gtkmm/aspectframe.cc
gtk/gtkmm/aspectframe.h
gtk/gtkmm/assistant.cc
gtk/gtkmm/assistant.h
gtk/gtkmm/assistantpage.cc
gtk/gtkmm/assistantpage.h
gtk/gtkmm/binlayout.cc
gtk/gtkmm/binlayout.h
gtk/gtkmm/bitset.cc
gtk/gtkmm/bitset.h
gtk/gtkmm/boolfilter.cc
gtk/gtkmm/boolfilter.h
gtk/gtkmm/border.cc
gtk/gtkmm/border.h
gtk/gtkmm/box.cc
gtk/gtkmm/box.h
gtk/gtkmm/boxlayout.cc
gtk/gtkmm/boxlayout.h
gtk/gtkmm/buildable.cc
gtk/gtkmm/buildable.h
gtk/gtkmm/builder.cc
gtk/gtkmm/builder.h
gtk/gtkmm/buildercscope.cc
gtk/gtkmm/buildercscope.h
gtk/gtkmm/builderscope.cc
gtk/gtkmm/builderscope.h
gtk/gtkmm/button.cc
gtk/gtkmm/button.h
gtk/gtkmm/calendar.cc
gtk/gtkmm/calendar.h
gtk/gtkmm/cellarea.cc
gtk/gtkmm/cellarea.h
gtk/gtkmm/cellareabox.cc
gtk/gtkmm/cellareabox.h
gtk/gtkmm/cellareacontext.cc
gtk/gtkmm/cellareacontext.h
gtk/gtkmm/celleditable.cc
gtk/gtkmm/celleditable.h
gtk/gtkmm/celllayout.cc
gtk/gtkmm/celllayout.h
gtk/gtkmm/cellrenderer.cc
gtk/gtkmm/cellrenderer.h
gtk/gtkmm/cellrendereraccel.cc
gtk/gtkmm/cellrendereraccel.h
gtk/gtkmm/cellrenderercombo.cc
gtk/gtkmm/cellrenderercombo.h
gtk/gtkmm/cellrendererpixbuf.cc
gtk/gtkmm/cellrendererpixbuf.h
gtk/gtkmm/cellrendererprogress.cc
gtk/gtkmm/cellrendererprogress.h
gtk/gtkmm/cellrendererspin.cc
gtk/gtkmm/cellrendererspin.h
gtk/gtkmm/cellrendererspinner.cc
gtk/gtkmm/cellrendererspinner.h
gtk/gtkmm/cellrenderertext.cc
gtk/gtkmm/cellrenderertext.h
gtk/gtkmm/cellrenderertoggle.cc
gtk/gtkmm/cellrenderertoggle.h
gtk/gtkmm/cellview.cc
gtk/gtkmm/cellview.h
gtk/gtkmm/centerbox.cc
gtk/gtkmm/centerbox.h
gtk/gtkmm/centerlayout.cc
gtk/gtkmm/centerlayout.h
gtk/gtkmm/checkbutton.cc
gtk/gtkmm/checkbutton.h
gtk/gtkmm/colorbutton.cc
gtk/gtkmm/colorbutton.h
gtk/gtkmm/colorchooser.cc
gtk/gtkmm/colorchooser.h
gtk/gtkmm/colorchooserdialog.cc
gtk/gtkmm/colorchooserdialog.h
gtk/gtkmm/columnview.cc
gtk/gtkmm/columnview.h
gtk/gtkmm/columnviewcolumn.cc
gtk/gtkmm/columnviewcolumn.h
gtk/gtkmm/combobox.cc
gtk/gtkmm/combobox.h
gtk/gtkmm/comboboxtext.cc
gtk/gtkmm/comboboxtext.h
gtk/gtkmm/constraint.cc
gtk/gtkmm/constraint.h
gtk/gtkmm/constraintguide.cc
gtk/gtkmm/constraintguide.h
gtk/gtkmm/constraintlayout.cc
gtk/gtkmm/constraintlayout.h
gtk/gtkmm/constrainttarget.cc
gtk/gtkmm/constrainttarget.h
gtk/gtkmm/csslocation.cc
gtk/gtkmm/csslocation.h
gtk/gtkmm/cssprovider.cc
gtk/gtkmm/cssprovider.h
gtk/gtkmm/csssection.cc
gtk/gtkmm/csssection.h
gtk/gtkmm/dialog.cc
gtk/gtkmm/dialog.h
gtk/gtkmm/directorylist.cc
gtk/gtkmm/directorylist.h
gtk/gtkmm/dragicon.cc
gtk/gtkmm/dragicon.h
gtk/gtkmm/dragsource.cc
gtk/gtkmm/dragsource.h
gtk/gtkmm/drawingarea.cc
gtk/gtkmm/drawingarea.h
gtk/gtkmm/dropcontrollermotion.cc
gtk/gtkmm/dropcontrollermotion.h
gtk/gtkmm/dropdown.cc
gtk/gtkmm/dropdown.h
gtk/gtkmm/droptarget.cc
gtk/gtkmm/droptarget.h
gtk/gtkmm/droptargetasync.cc
gtk/gtkmm/droptargetasync.h
gtk/gtkmm/editable.cc
gtk/gtkmm/editable.h
gtk/gtkmm/editablelabel.cc
gtk/gtkmm/editablelabel.h
gtk/gtkmm/emojichooser.cc
gtk/gtkmm/emojichooser.h
gtk/gtkmm/entry.cc
gtk/gtkmm/entry.h
gtk/gtkmm/entrybuffer.cc
gtk/gtkmm/entrybuffer.h
gtk/gtkmm/entrycompletion.cc
gtk/gtkmm/entrycompletion.h
gtk/gtkmm/enums.cc
gtk/gtkmm/enums.h
gtk/gtkmm/eventcontroller.cc
gtk/gtkmm/eventcontroller.h
gtk/gtkmm/eventcontrollerfocus.cc
gtk/gtkmm/eventcontrollerfocus.h
gtk/gtkmm/eventcontrollerkey.cc
gtk/gtkmm/eventcontrollerkey.h
gtk/gtkmm/eventcontrollerlegacy.cc
gtk/gtkmm/eventcontrollerlegacy.h
gtk/gtkmm/eventcontrollermotion.cc
gtk/gtkmm/eventcontrollermotion.h
gtk/gtkmm/eventcontrollerscroll.cc
gtk/gtkmm/eventcontrollerscroll.h
gtk/gtkmm/expander.cc
gtk/gtkmm/expander.h
gtk/gtkmm/expression.cc
gtk/gtkmm/expression.h
gtk/gtkmm/expressionwatch.cc
gtk/gtkmm/expressionwatch.h
gtk/gtkmm/filechooser.cc
gtk/gtkmm/filechooser.h
gtk/gtkmm/filechooserdialog.cc
gtk/gtkmm/filechooserdialog.h
gtk/gtkmm/filechoosernative.cc
gtk/gtkmm/filechoosernative.h
gtk/gtkmm/filechooserwidget.cc
gtk/gtkmm/filechooserwidget.h
gtk/gtkmm/filefilter.cc
gtk/gtkmm/filefilter.h
gtk/gtkmm/filter.cc
gtk/gtkmm/filter.h
gtk/gtkmm/filterlistmodel.cc
gtk/gtkmm/filterlistmodel.h
gtk/gtkmm/fixed.cc
gtk/gtkmm/fixed.h
gtk/gtkmm/flattenlistmodel.cc
gtk/gtkmm/flattenlistmodel.h
gtk/gtkmm/flowbox.cc
gtk/gtkmm/flowbox.h
gtk/gtkmm/flowboxchild.cc
gtk/gtkmm/flowboxchild.h
gtk/gtkmm/fontbutton.cc
gtk/gtkmm/fontbutton.h
gtk/gtkmm/fontchooser.cc
gtk/gtkmm/fontchooser.h
gtk/gtkmm/fontchooserdialog.cc
gtk/gtkmm/fontchooserdialog.h
gtk/gtkmm/fontchooserwidget.cc
gtk/gtkmm/fontchooserwidget.h
gtk/gtkmm/frame.cc
gtk/gtkmm/frame.h
gtk/gtkmm/gesture.cc
gtk/gtkmm/gesture.h
gtk/gtkmm/gestureclick.cc
gtk/gtkmm/gestureclick.h
gtk/gtkmm/gesturedrag.cc
gtk/gtkmm/gesturedrag.h
gtk/gtkmm/gesturelongpress.cc
gtk/gtkmm/gesturelongpress.h
gtk/gtkmm/gesturepan.cc
gtk/gtkmm/gesturepan.h
gtk/gtkmm/gesturerotate.cc
gtk/gtkmm/gesturerotate.h
gtk/gtkmm/gesturesingle.cc
gtk/gtkmm/gesturesingle.h
gtk/gtkmm/gesturestylus.cc
gtk/gtkmm/gesturestylus.h
gtk/gtkmm/gestureswipe.cc
gtk/gtkmm/gestureswipe.h
gtk/gtkmm/gesturezoom.cc
gtk/gtkmm/gesturezoom.h
gtk/gtkmm/glarea.cc
gtk/gtkmm/glarea.h
gtk/gtkmm/grid.cc
gtk/gtkmm/grid.h
gtk/gtkmm/gridlayout.cc
gtk/gtkmm/gridlayout.h
gtk/gtkmm/gridlayoutchild.cc
gtk/gtkmm/gridlayoutchild.h
gtk/gtkmm/gridview.cc
gtk/gtkmm/gridview.h
gtk/gtkmm/headerbar.cc
gtk/gtkmm/headerbar.h
gtk/gtkmm/iconpaintable.cc
gtk/gtkmm/iconpaintable.h
gtk/gtkmm/icontheme.cc
gtk/gtkmm/icontheme.h
gtk/gtkmm/iconview.cc
gtk/gtkmm/iconview.h
gtk/gtkmm/image.cc
gtk/gtkmm/image.h
gtk/gtkmm/infobar.cc
gtk/gtkmm/infobar.h
gtk/gtkmm/label.cc
gtk/gtkmm/label.h
gtk/gtkmm/layoutchild.cc
gtk/gtkmm/layoutchild.h
gtk/gtkmm/layoutmanager.cc
gtk/gtkmm/layoutmanager.h
gtk/gtkmm/levelbar.cc
gtk/gtkmm/levelbar.h
gtk/gtkmm/linkbutton.cc
gtk/gtkmm/linkbutton.h
gtk/gtkmm/listbase.cc
gtk/gtkmm/listbase.h
gtk/gtkmm/listbox.cc
gtk/gtkmm/listbox.h
gtk/gtkmm/listboxrow.cc
gtk/gtkmm/listboxrow.h
gtk/gtkmm/listitem.cc
gtk/gtkmm/listitem.h
gtk/gtkmm/listitemfactory.cc
gtk/gtkmm/listitemfactory.h
gtk/gtkmm/liststore.cc
gtk/gtkmm/liststore.h
gtk/gtkmm/listview.cc
gtk/gtkmm/listview.h
gtk/gtkmm/lockbutton.cc
gtk/gtkmm/lockbutton.h
gtk/gtkmm/mediacontrols.cc
gtk/gtkmm/mediacontrols.h
gtk/gtkmm/mediafile.cc
gtk/gtkmm/mediafile.h
gtk/gtkmm/mediastream.cc
gtk/gtkmm/mediastream.h
gtk/gtkmm/menubutton.cc
gtk/gtkmm/menubutton.h
gtk/gtkmm/messagedialog.cc
gtk/gtkmm/messagedialog.h
gtk/gtkmm/modelbutton.cc
gtk/gtkmm/modelbutton.h
gtk/gtkmm/multifilter.cc
gtk/gtkmm/multifilter.h
gtk/gtkmm/multiselection.cc
gtk/gtkmm/multiselection.h
gtk/gtkmm/multisorter.cc
gtk/gtkmm/multisorter.h
gtk/gtkmm/native.cc
gtk/gtkmm/native.h
gtk/gtkmm/nativedialog.cc
gtk/gtkmm/nativedialog.h
gtk/gtkmm/noselection.cc
gtk/gtkmm/noselection.h
gtk/gtkmm/notebook.cc
gtk/gtkmm/notebook.h
gtk/gtkmm/notebookpage.cc
gtk/gtkmm/notebookpage.h
gtk/gtkmm/numericsorter.cc
gtk/gtkmm/numericsorter.h
gtk/gtkmm/orientable.cc
gtk/gtkmm/orientable.h
gtk/gtkmm/overlay.cc
gtk/gtkmm/overlay.h
gtk/gtkmm/padactionentry.cc
gtk/gtkmm/padactionentry.h
gtk/gtkmm/padcontroller.cc
gtk/gtkmm/padcontroller.h
gtk/gtkmm/pagesetup.cc
gtk/gtkmm/pagesetup.h
gtk/gtkmm/pagesetupunixdialog.cc
gtk/gtkmm/pagesetupunixdialog.h
gtk/gtkmm/paned.cc
gtk/gtkmm/paned.h
gtk/gtkmm/papersize.cc
gtk/gtkmm/papersize.h
gtk/gtkmm/passwordentry.cc
gtk/gtkmm/passwordentry.h
gtk/gtkmm/picture.cc
gtk/gtkmm/picture.h
gtk/gtkmm/popover.cc
gtk/gtkmm/popover.h
gtk/gtkmm/popovermenu.cc
gtk/gtkmm/popovermenu.h
gtk/gtkmm/popovermenubar.cc
gtk/gtkmm/popovermenubar.h
gtk/gtkmm/printcontext.cc
gtk/gtkmm/printcontext.h
gtk/gtkmm/printer.cc
gtk/gtkmm/printer.h
gtk/gtkmm/printjob.cc
gtk/gtkmm/printjob.h
gtk/gtkmm/printoperation.cc
gtk/gtkmm/printoperation.h
gtk/gtkmm/printoperationpreview.cc
gtk/gtkmm/printoperationpreview.h
gtk/gtkmm/printsettings.cc
gtk/gtkmm/printsettings.h
gtk/gtkmm/printunixdialog.cc
gtk/gtkmm/printunixdialog.h
gtk/gtkmm/progressbar.cc
gtk/gtkmm/progressbar.h
gtk/gtkmm/range.cc
gtk/gtkmm/range.h
gtk/gtkmm/root.cc
gtk/gtkmm/root.h
gtk/gtkmm/recentinfo.cc
gtk/gtkmm/recentinfo.h
gtk/gtkmm/recentmanager.cc
gtk/gtkmm/recentmanager.h
gtk/gtkmm/requisition.cc
gtk/gtkmm/requisition.h
gtk/gtkmm/revealer.cc
gtk/gtkmm/revealer.h
gtk/gtkmm/scale.cc
gtk/gtkmm/scale.h
gtk/gtkmm/scalebutton.cc
gtk/gtkmm/scalebutton.h
gtk/gtkmm/scrollable.cc
gtk/gtkmm/scrollable.h
gtk/gtkmm/scrollbar.cc
gtk/gtkmm/scrollbar.h
gtk/gtkmm/scrolledwindow.cc
gtk/gtkmm/scrolledwindow.h
gtk/gtkmm/searchbar.cc
gtk/gtkmm/searchbar.h
gtk/gtkmm/searchentry.cc
gtk/gtkmm/searchentry.h
gtk/gtkmm/selectiondata.cc
gtk/gtkmm/selectiondata.h
gtk/gtkmm/selectionfiltermodel.cc
gtk/gtkmm/selectionfiltermodel.h
gtk/gtkmm/selectionmodel.cc
gtk/gtkmm/selectionmodel.h
gtk/gtkmm/separator.cc
gtk/gtkmm/separator.h
gtk/gtkmm/settings.cc
gtk/gtkmm/settings.h
gtk/gtkmm/shortcut.cc
gtk/gtkmm/shortcut.h
gtk/gtkmm/shortcutaction.cc
gtk/gtkmm/shortcutaction.h
gtk/gtkmm/shortcutcontroller.cc
gtk/gtkmm/shortcutcontroller.h
gtk/gtkmm/shortcutlabel.cc
gtk/gtkmm/shortcutlabel.h
gtk/gtkmm/shortcutmanager.cc
gtk/gtkmm/shortcutmanager.h
gtk/gtkmm/shortcutsgroup.cc
gtk/gtkmm/shortcutsgroup.h
gtk/gtkmm/shortcutssection.cc
gtk/gtkmm/shortcutssection.h
gtk/gtkmm/shortcutsshortcut.cc
gtk/gtkmm/shortcutsshortcut.h
gtk/gtkmm/shortcutswindow.cc
gtk/gtkmm/shortcutswindow.h
gtk/gtkmm/shortcuttrigger.cc
gtk/gtkmm/shortcuttrigger.h
gtk/gtkmm/signallistitemfactory.cc
gtk/gtkmm/signallistitemfactory.h
gtk/gtkmm/singleselection.cc
gtk/gtkmm/singleselection.h
gtk/gtkmm/sizegroup.cc
gtk/gtkmm/sizegroup.h
gtk/gtkmm/slicelistmodel.cc
gtk/gtkmm/slicelistmodel.h
gtk/gtkmm/snapshot.cc
gtk/gtkmm/snapshot.h
gtk/gtkmm/sorter.cc
gtk/gtkmm/sorter.h
gtk/gtkmm/sortlistmodel.cc
gtk/gtkmm/sortlistmodel.h
gtk/gtkmm/spinbutton.cc
gtk/gtkmm/spinbutton.h
gtk/gtkmm/spinner.cc
gtk/gtkmm/spinner.h
gtk/gtkmm/stack.cc
gtk/gtkmm/stack.h
gtk/gtkmm/stackpage.cc
gtk/gtkmm/stackpage.h
gtk/gtkmm/stacksidebar.cc
gtk/gtkmm/stacksidebar.h
gtk/gtkmm/stackswitcher.cc
gtk/gtkmm/stackswitcher.h
gtk/gtkmm/statusbar.cc
gtk/gtkmm/statusbar.h
gtk/gtkmm/stringfilter.cc
gtk/gtkmm/stringfilter.h
gtk/gtkmm/stringlist.cc
gtk/gtkmm/stringlist.h
gtk/gtkmm/stringobject.cc
gtk/gtkmm/stringobject.h
gtk/gtkmm/stringsorter.cc
gtk/gtkmm/stringsorter.h
gtk/gtkmm/stylecontext.cc
gtk/gtkmm/stylecontext.h
gtk/gtkmm/styleprovider.cc
gtk/gtkmm/styleprovider.h
gtk/gtkmm/switch.cc
gtk/gtkmm/switch.h
gtk/gtkmm/text.cc
gtk/gtkmm/text.h
gtk/gtkmm/textbuffer.cc
gtk/gtkmm/textbuffer.h
gtk/gtkmm/textchildanchor.cc
gtk/gtkmm/textchildanchor.h
gtk/gtkmm/textiter.cc
gtk/gtkmm/textiter.h
gtk/gtkmm/textmark.cc
gtk/gtkmm/textmark.h
gtk/gtkmm/texttag.cc
gtk/gtkmm/texttag.h
gtk/gtkmm/texttagtable.cc
gtk/gtkmm/texttagtable.h
gtk/gtkmm/textview.cc
gtk/gtkmm/textview.h
gtk/gtkmm/togglebutton.cc
gtk/gtkmm/togglebutton.h
gtk/gtkmm/tooltip.cc
gtk/gtkmm/tooltip.h
gtk/gtkmm/treedragdest.cc
gtk/gtkmm/treedragdest.h
gtk/gtkmm/treedragsource.cc
gtk/gtkmm/treedragsource.h
gtk/gtkmm/treeexpander.cc
gtk/gtkmm/treeexpander.h
gtk/gtkmm/treeiter.cc
gtk/gtkmm/treeiter.h
gtk/gtkmm/treelistmodel.cc
gtk/gtkmm/treelistmodel.h
gtk/gtkmm/treelistrow.cc
gtk/gtkmm/treelistrow.h
gtk/gtkmm/treemodel.cc
gtk/gtkmm/treemodel.h
gtk/gtkmm/treemodelfilter.cc
gtk/gtkmm/treemodelfilter.h
gtk/gtkmm/treemodelsort.cc
gtk/gtkmm/treemodelsort.h
gtk/gtkmm/treepath.cc
gtk/gtkmm/treepath.h
gtk/gtkmm/treerowreference.cc
gtk/gtkmm/treerowreference.h
gtk/gtkmm/treeselection.cc
gtk/gtkmm/treeselection.h
gtk/gtkmm/treesortable.cc
gtk/gtkmm/treesortable.h
gtk/gtkmm/treestore.cc
gtk/gtkmm/treestore.h
gtk/gtkmm/treeview.cc
gtk/gtkmm/treeview.h
gtk/gtkmm/treeviewcolumn.cc
gtk/gtkmm/treeviewcolumn.h
gtk/gtkmm/video.cc
gtk/gtkmm/video.h
gtk/gtkmm/viewport.cc
gtk/gtkmm/viewport.h
gtk/gtkmm/volumebutton.cc
gtk/gtkmm/volumebutton.h
gtk/gtkmm/widget.cc
gtk/gtkmm/widget.h
gtk/gtkmm/widgetpaintable.cc
gtk/gtkmm/widgetpaintable.h
gtk/gtkmm/window.cc
gtk/gtkmm/window.h
gtk/gtkmm/windowcontrols.cc
gtk/gtkmm/windowcontrols.h
gtk/gtkmm/windowgroup.cc
gtk/gtkmm/windowgroup.h
gtk/gtkmm/windowhandle.cc
gtk/gtkmm/windowhandle.h
gtk/gtkmm/wrap_init.cc
gtk/gtkmmconfig.h
gtk/stamp-h3

# tests
/tests/*/test
/tests/*/test.trs
/tests/*/test.log
/tests/*.log
/tests/*.trs

# tools
tools/extra_defs_gen/generate_defs_gdk
tools/extra_defs_gen/generate_defs_gsk
tools/extra_defs_gen/generate_defs_gtk

# win32_installer
win32_installer/gtkmm-installer.nsi
win32_installer/lgpl.txt

# untracked/
untracked/build_scripts/
untracked/docs/
untracked/gdk/
untracked/gtk/
