body    {
    font-size: 1em;
    margin: 2em 10em;
}

a:link, a:visited  {
    color: #4A5DB4;
    font-weight: bold;
}

div.note, div.caution, div.important, 
div.tip, div.warning, div.admonition  {
    margin: 1em !important;
}

div.note tbody, div.caution tbody, div.important tbody, 
div.tip tbody, div.warning tbody, div.admonition tbody {
    border: 0px;
    font-size: 95%;
}

div.note h3.title, div.caution h3.title, div.important h3.title, 
div.tip h3.title, div.warning h3.title, div.admonition h3.title {
    margin: 0.5em 0em;
}


div.autotoc { margin-left: 2em; padding: 0em; }
div.autotoc ul { margin-left: 0em; padding-left: 0em; }
div.autotoc ul li {
    margin-right: 0em;
    padding: 0em;
    list-style-type: none;
}

* + div.biblioentry { margin-top: 1.2em; }
* + div.bibliomixed { margin-top: 1.2em; }

*.block-indent {
    margin-left: 0em;
    margin-right: 0em;
}
*.block-verbatim {
    white-space: pre;
}
pre.programlisting, pre.screen {
    padding: 1em;
    color: #555555;
    -moz-border-radius: 8px;
    background-color: #F6F6F6;
    border: solid 1px #DDDDDD;
}

div.tip pre.programlisting,
div.note pre.programlisting     {
    border: 0px;
    padding: 0px;
}

pre.synopsis {
    overflow: auto;
}

pre.linenumbering {
    padding-top: 6px;
    padding-bottom: 6px;
    -moz-border-radius: 8px;
    border: solid 1px black;
    margin-top: 0px;
    margin-left: 0.83em;
    background-color: black;
    color: white;
    -moz-opacity: .3;
    padding-right: 0.4em;
    padding-left: 0.4em;
}
dt.glossterm { margin-left: 0em; }
dd + dt.glossterm { margin-top: 2em; }
dd.glossdef { margin-top: 1em; margin-left: 2em; margin-right: 1em; }
dd.glosssee { margin-top: 1em; margin-left: 2em; margin-right: 1em; }
dd.glossseealso { margin-top: 1em; margin-left: 2em; margin-right: 1em; }

span.co {
    font-size: 8px;
    padding-left:  0.4em;
    padding-right: 0.4em;
    margin-left:   0.2em;
    margin-right:  0.2em;
    border: solid 1px;
    -moz-border-radius: 8px;
    color: #FFFFFF;
    background-color: #000000;
    border-color: #000000;
}
span.co:hover {
    color: #FFFFFF;
    background-color: #333333;
    border-color: #333333;
}
span.co a { text-decoration: none; }
span.co a:hover { text-decoration: none; }

div.cmdsynopsis { font-family: monospace; }

div.list { margin-left: 0px; padding: 0px; margin-bottom: 1em; }
div.list dl dt { margin-left: 0em; }
div.list dl dd + dt { margin-top: 1em; }
div.list dl dd {
    margin-top: 0.69em;
    margin-left: 1.72em;
    margin-right: 1em;
}
div.list ul { margin-left: 1.72em; padding-left: 0em; }
div.list ol { margin-left: 1.72em; padding-left: 0em; }
div.list ul li { margin-right: 1em; padding: 0em; }
div.list ol li { margin-right: 1em; padding: 0em; }
div.list li + li { margin-top: 0.69em; }

dt.question { margin-left: 0em; }
dt.question div.label { float: left; }
dd + dt.question { margin-top: 1em; }
dd.answer {
    margin-top: 1em;
    margin-left: 2em;
    margin-right: 1em;
}
dd.answer div.label { float: left; }

div.refentry h2.refentry {
    border: none;
    margin-top: 1em;
}
div.refentry + div.refentry {
    border-top: dashed black 1px;
}

table {
    border-collapse: collapse;
    border: solid 0px;
    -moz-border-radius: 5px;
}
tr.odd { background-color: #F0F0F0 }
td {
    padding-left: 0.83em;
    padding-right: 0.83em;
    padding-top: 4px;
    padding-bottom: 4px;
}
th { padding-left: 0.8em; padding-right: 0.83em; }
thead {
    border-top: solid 2px;
    border-bottom: solid 2px;
}
tfoot {
    border-top: solid 2px;
    border-bottom: solid 2px;
}
td + td {
    border-left: solid 1px;
}

tbody {
    border: solid 1px;
    -moz-border-radius: 5px;
}

h1 { font-size: 1.72em; margin-top: 0em; }
h2 { font-size: 1.44em; }
h2.title { margin-top: 1.72em; border-bottom: solid 1px; }

h3                      { font-size: 1.2em; }
h3.title    { margin-top: 1.72em; }
h3 span.title { border-bottom: solid 1px; }

h4                      { font-size: 1.0em; }
h4.title    { margin-top: 1.44em; }
h4 span.title { border-bottom: solid 1px; }

h5 { font-size: 1em; margin-top: 1em; }
h6 { font-size: 1em; margin-top: 1em; }
h7 { font-size: 1em; margin-top: 1em; }

div.navbar {
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 12px;
    padding: 6px;
    border: solid 1px;
}
div.navbar-prev {
    margin: 0px;
    padding: 0px;
    float: left;
}
div.navbar-prev-sans-next {
    float: none;
}
div.navbar-next {
    margin: 0px;
    padding: 0px;
    text-align: right;
}
div {
    margin-top: 0em;  margin-bottom: 0em;
    padding-top: 0em; padding-bottom: 0em;
}
p {
    margin-top: 0em;  margin-bottom: 0em;
    padding-top: 0em; padding-bottom: 0em;
}
div + * { margin-top: 1em; }
p   + * { margin-top: 1em; }
p &gt; div { margin-top: 1em; margin-bottom: 1em; }
p &gt; div + div { margin-top: 0em; }
p { text-align: justify; }

div.navheader tbody , div.navfooter tbody, div.navfooter td   {
    border: 0px;
    color: #FFFFFF;
}

div.navHeader a:link, div.navFooter a:link,
div.navHeader a:visited, div.navFooter a:visited   {
    color: #FFFFFF;
}

div.navHeader, div.navFooter   {
    padding: 1em;
    /*
    background-color: #E8EBFF;
    border: 1px solid #C5C9E5;
    */
    background-color: #BD2C4A;
    border: 1px solid #000000;
}

div.navHeader   {
    margin-bottom: 2em;
}

div.navfooter   {
    margin-top: 5em;
}

div.navfooter img,
div.navHeader img   {
    border: 0px;
}

/*
div.navfooter a[accesskey~="n"]:after {
    content: "  \00BB";
}

div.navfooter a[accesskey~="p"]:before {
    content: "\00AB  ";
}
*/

div.navHeader th    {
    font-size: large;
}

span.application    {
    font-family: monospace;
}

code.classname, code.function, code.filename  {
    font-weight: bold;
}

hr  {
    display: none;
}

h1.title    {
    font-size: 2.5em;
    font-family: serif;
}

div.authorgroup {
    width: 25%;
    float: right;
    margin: 0em 0em 2em 2em;
    padding: 1em;
    background-color: #EEEEEE;
    border: 1px solid #CCCCCC;
}

div.author  {
}

div.author h3   {
    font-size: 1.1em;
    margin: 0em;
}

div.author span.contrib {
    display: block;
    margin: 0em 1em;
    font-size: 0.9em;
    color: #333333;
}

div.toc,
div.list-of-figures {
    margin: 1em;
    padding: 1em;
}

div.toc > p,
div.list-of-figures > p {
    font-size: 130%;
}

div.toc > ul > li   {
    margin-bottom: 1em;
}

div.toc > ul > li > ul > li {
    font-size: 90%;
}

div.list-of-figures ul,
div.toc ul  {
    margin-left: 2em;
    padding-left: 0em;
}

div.list-of-figures li,
div.toc li  {
    list-style: none;
}

/*
div.toc dd dd dt  {
    display: none;
}
*/

div.toc a:link, div.toc a:visited,
div.list-of-figures a:link, div.list-of-figures a:visited   {
    text-decoration: none;
}
